/* styles.css */
body {
    background-color: #f8f8f8; /* Soft white background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Center the content vertically */
    margin: 0;
}

.round-shape {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    background-color: #fce4ec; /* Soft pink background */
    border-radius: 50%; /* Creates a round shape */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

header {
    background-color: #0277bd;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    border-radius: 0 0 50px 50px;
}

main {
    padding: 2em;
}

section {
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 2em;
    padding: 1em;
}

h1, h2 {
    color: #0277bd;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #e1f5fe;
    border-radius: 15px;
    margin-bottom: 0.5em;
    padding: 0.5em;
}

a {
    color: #0277bd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.about-content {
    display: flex;
    align-items: center;
}

.profile-picture {
    border-radius: 50%;
    width: 150px; /* Passe die Größe nach Bedarf an */
    height: 150px; /* Passe die Größe nach Bedarf an */
    margin-right: 1em;
}