/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #fff; /* Soft white background */
    color: #333; /* Dark text color */
}

/* Header styles */
header {
    background-color: #ffcdd2; /* Soft pink background for header */
    color: #333; /* Dark text color */
    padding: 1em 0;
    text-align: center;
    border-bottom: 1px solid #e0e0e0; /* Light gray border bottom */
    border-radius: 0 0 15px 15px; /* Rounded corners at the bottom */
}

header h1 {
    font-size: 1.5em;
}

/* Main content styles */
main {
    max-width: 800px; /* Limit content width */
    margin: 0 auto; /* Center content horizontally */
    padding: 2em;
}

/* About section styles */
#about {
    margin-bottom: 2em;
}

.about-content {
    display: flex;
    align-items: center;
}

.profile-picture {
    border-radius: 50%; /* Round profile picture */
    width: 150px; /* Adjust size as needed */
    height: 150px; /* Adjust size as needed */
    margin-right: 1em;
}

/* Section headings styles */
h2 {
    color: #ff4081; /* Pink color for section headings */
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

/* List styles */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fce4ec; /* Soft pink background for list items */
    padding: 0.5em;
    margin-bottom: 0;
}

/* Contact section styles */
#contact {
    margin-top: 2em;
    background-color: #ffcdd2; /* Soft pink background for contact section */
    padding: 1em;
    border-radius: 15px;
}

#contact p {
    margin-bottom: 0.5em;
}

a {
    color: #ff4081; /* Pink color for links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
